
[hub]
protocol = https

[core]
	editor = code
[user]
	email = erick.gonzal3z@gmail.com
	name = Erick Gonzalez
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	unstage = reset HEAD --
[push]
	default = upstream
[credential]
	helper = store
[pager]
	diff = true
