
[hub]
protocol = https

[core]
	editor = vim 
	pager = bat
	compression = 9
	packedGitLimit = 512m 
	packedGitWindowSize = 512m
[pack]
	deltaCacheSize = 2047m 
	packSizeLimit = 2047m 
	windowMemory = 2047m
[user]
	email = erick.gonzal3z@gmail.com
	name = Erick Gonzalez
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	unstage = reset HEAD --
[push]
	default = upstream
[credential]
	helper = store
[pager]
	diff = true
	branch = false
